#mapBox div:first-child {
  position: relative !important;
  width: auto !important;
}

.App {
  text-align: center;
}

.customDiv {
  padding: 2rem;
}
.customDiv2 {
  padding: 1rem;
}

.buttonRomove {
  padding: auto;
  width: 100%;
  background-color: #f44336;
  border: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
 
  
  font-size: 16px;
}

.buttonAdd{
  padding: auto;
  width: 100%;
  background-color: #ff7c02dc;
  border: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
 
  
  font-size: 16px;
}
